@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>FlashMessage example</h1>
        
        @using (Html.BeginForm(new { ACtion = "HandleFormPost1" }))
        {


            <button type="submit" class="btn btn-default">Post Form 1</button>
        }
    </div>
</div>
