@{
    ViewData["Title"] = "Bootstrap 3 examples";
    Layout = "_LayoutBootstrap3";
}

<flash dismissable="true" bootstrap-version="3" />

<h2>@ViewData["Title"]</h2>

<p>This page displays some Bootstrap 3 flash message examples.</p>
