@using Vereyon.Web;
@{
    ViewData["Title"] = "Home Page";
}

<flash dismissable="true" />



<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="@Url.Action("RedirectExample")">Redirect example</a></li>
        </ul>
    </div>
</div>
